.about_hero {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 40px;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 100px;
  margin-top: 100px;
}

.hero_image img {
  border-radius: 8px;
  object-fit: cover;
  overflow: hidden;
  width: 240px;
  background: #ffffff;
  margin-left: 50px;
  padding: 15px 15px 40px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.image_right {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
}
.image_left {
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

.hero_text {
  margin: 0 auto;
  max-width: 600px;
  padding-bottom: 40px;
}

.hero_text h1 {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .about_hero {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0 auto;
    width: 85%;
  }
  .about_hero {
    margin-top: 50px;
  }

  .hero_image img {
    object-fit: cover;
    overflow: hidden;
    width: 25%;
    background: #ffffff;
    margin-left: 10px;
    padding: 5px 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px #545454;
    -moz-box-shadow: 0 4px 6px #545454;
    box-shadow: 0 4px 6px #545454;
  }

  .image_right {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
  }
  .image_left {
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about_hero {
    justify-content: center;
    margin: 0 auto;
    max-width: 85%;
  }

  .hero_image img {
    width: 190px;
  }

  .about_hero {
    margin-top: 80px;
  }
}
