html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
}

main {
  justify-content: center;
  line-height: normal;
  margin: 0 auto;
  max-width: 1020px;
}

h1 {
  color: #2B2B2B;
  font-size: 3.2rem;
  text-align: center;
}

h2 {
  color: #2B2B2B;
  font-size: 2.0rem;
  padding-bottom: 3px;
  text-transform: uppercase;
}

p {
  color: #808080;
  font-size: 1.6rem;
  line-height: 1.6em;
  margin: 0 auto;
  max-width: 665px;
}

h4 {
  font-size: 1.2rem;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

.navigation {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}
.logo {
  float: left;
  height: 75px;
}
.navigation_list {
  float: right;
  height: 20px;
  list-style-type: none;
  margin-top: 30px;
  width: 400px;
}

.navigation li {
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 25px;
  text-transform: uppercase;
}

.hello {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;
  justify-content: center;
  margin-bottom: 250px;
  margin-top: 120px;
  width: 1020px;
}

.hello_image img {
  background: #ffffff;
  margin-left: 50px;
  padding: 15px 15px 40px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px #545454;
  -moz-box-shadow: 0 4px 6px #545454;
  box-shadow: 0 4px 6px #545454;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

.hello_text {
  justify-content: center;
  margin: 0 auto;
  padding-top: 60px;
}

.hello_text h1 {
  text-align: left;
}

.projects {
  margin-bottom: 40px;
  text-align: center;
}

.projects_title {
  padding-bottom: 20px;
}

.project_twp, .project_yir, .project_pioti, .project_humanize, .project_toqos, .project_365, .project_jtnlaw {
  padding: 20px;
}
.project_twp:hover, .project_yir:hover, .project_pioti:hover, .project_humanize:hover, .project_toqos:hover, .project_365:hover, .project_jtnlaw:hover {
  -webkit-box-shadow: 0 6px 8px #545454;
  -moz-box-shadow: 0 6px 8px #545454;
  box-shadow: 0 6px 8px #545454;
}

.project_list p {
  margin: 0;
}
.project_list h1 {
  font-size: 2.7rem;
  font-weight: lighter;
  padding: 5px 0px 5px 0px;
  text-align: left;
}
.project_list h2 {
  font-size: 1.8rem;
}

.project_list img {
  margin: 15px;
  height: 200px;
}

.project_list li {
  list-style: none;
  margin: 30px;
}

.project_twp a:hover {

}

.project_twp, .project_yir, .project_humanize, .project_pioti, .project_jtnlaw, .project_toqos, .project_365 {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 40px;
  justify-content: center;
  text-align: left;
}

footer {
  background-color: #545454;
  bottom: 0;
  color: #FFFFFF;
  height: 120px;
  padding-top: 0.6rem;
  text-align: center;
  width: 100%;
}

.thanks {
  padding-top: 30px;
}

.social_media {
  color: #FFFFFF;
  list-style-type: none;
  padding: 5px;
  font-size: 1.8rem;
}

.social_media i {
  color: #FFFFFF;
}

.social_media li {
  display: inline-block;
  padding: 6px;
}

.copyright {
  padding-top: 20px;
}
.copyright h4 {
  font-size: 1rem;
}

#myBtn {
  background-color: #FFFFFF;
  border: 1px solid #2B2B2B;
  border-radius: 50%;
  bottom: 60px;
  color: #545454;
  float: right;
  font-family: "Verdana";
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  padding: 10px;
  position: fixed;
  right: 60px;
  width: 40px;
}
#myBtn:hover {
  background-color: #2B2B2B;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .projects {
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    width: 85%;
  }
  .navigation {
    float: none;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 10px;
  }
  .logo {
    float: none;
    padding-bottom: 20px;
  }
  .navigation_list {
    float: none;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 85%;
  }
  .navigation li {
    font-size: 1.2rem;
    padding: 12px;
  }
  .hello {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0 auto;
    width: 85%;
  }
  .hello_image img {
    margin-left: auto;
    margin: 0 auto;
    -webkit-box-shadow: 0 4px 6px #545454;
    -moz-box-shadow: 0 4px 6px #545454;
    box-shadow: 0 4px 6px #545454;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    align-items: center;
    height: auto;
    margin-top: 50px;
    width: 92%;
  }
  .hello_text {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
  }

  .project_twp, .project_yir, .project_humanize, .project_pioti, .project_jtnlaw, .project_toqos, .project_365 {
    display: inline;
    grid-gap: 10px;
    justify-content: center;
    text-align: center;
  }
  .project_list p {
    display: none;
  }
  .project_list h1 {
    text-align: center;
  }
  .project_list li {
    margin-bottom: 20px;
  }
  .project_logos img {
    height: auto;
    margin-bottom: 35px;
    width: 80%;
  }
  #myBtn {
    bottom: 40px;
    right: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hello, .projects {
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    width: 85%;
  }
  .logo {
    float: left;
    margin-left: 50px;
    margin-top: 30px;
  }
  .navigation {
    height: 60px
  }
  .navigation_list {
    float: right;
    margin-right: 30px;
    margin-top: 63px;
  }
  .navigation li {
    padding: 10px;
  }
  .hello {
    padding-bottom: 80px;
    margin-top: 80px;
  }
  .projects {
    max-width: 500px;
    padding-bottom: 60px;
  }
  .project_logos img {
    height: 125px;
  }
}
