html {
  font-size: 10px;
}

body {
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
}

main {
  justify-content: center;
  line-height: normal;
  margin: 0 auto;
  max-width: 1020px;
}

h1 {
  color: #2B2B2B;
  font-size: 3.2rem;
  text-align: left;
}

h2 {
  color: #2B2B2B;
  font-size: 1.8rem;
  padding-bottom: 3px;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: #808080;
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

.navigation {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}
.logo {
  float: left;
  height: 75px;
}
.navigation_list {
  float: right;
  height: 20px;
  list-style-type: none;
  margin-top: 30px;
  width: 380px;
}

.navigation li {
  display: inline-block;
  font-size: 1.4rem;
  padding-left: 25px;
  text-transform: uppercase;
}

.hello {
  padding-bottom: 100px;
  padding-top: 100px;
  margin: 0 auto;
  max-width: 550px;
}
.intro_text {
  justify-content: center;
}

.projects {
  margin-bottom: 40px;
  text-align: center;
}

.project_logos {
  padding: 0px;
  justify-content: center;
  list-style-type: none;
}

.project_logos img {
  margin: 15px;
  max-height: 230px;
}

.project_logos li {
  display: inline-block;
  margin-bottom: 20px;
}

.white_bkgrd {
  border: 1px solid #545454;
}

a:hover h3 {
  color: #2B2B2B;
}

footer {
  background-color: #545454;
  bottom: 0;
  color: #FFFFFF;
  height: 90px;
  padding-top: 0.6rem;
  text-align: center;
  width: 100%;
}

.thanks {
  padding-top: 20px;
}

.social_media {
  color: #FFFFFF;
  list-style-type: none;
  padding: 5px;
  font-size: 1.8rem;
}

.social_media i {
  color: #FFFFFF;
}

.social_media li {
  display: inline-block;
  padding: 6px;
}

@media screen and (max-width: 767px) {
  .hello, .projects {
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    width: 85%;
  }
  .navigation {
    float: none;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 10px;
  }
  .logo {
    float: none;
    padding-bottom: 20px;
  }
  .navigation_list {
    float: none;
    justify-content: center;
    padding-bottom: 20px;
    width: 85%;
  }
  .navigation li {
    font-size: 1.2rem;
    padding: 10px;
    padding-left: 0px;
  }
  .hello {
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .projects {
    padding-bottom: 20px;
  }
  .project_logos img {
    height: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hello, .projects {
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
  }
  .logo {
    float: left;
    margin-left: 50px;
    margin-top: 30px;
  }
  .navigation {
    height: 60px
  }
  .navigation_list {
    float: right;
    margin-right: 30px;
    margin-top: 63px;
  }
  .navigation li {
    padding: 10px;
  }
  .hello {
    padding-bottom: 80px;
    margin-top: 100px;
  }
  .projects {
    max-width: 500px;
    padding-bottom: 60px;
  }
  .project_logos img {
    height: 125px;
  }
}
