html {
  font-size: 10px;
}

.container {
  background-color: #FFFFFF;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

body {
  background-color: #FFFFFF;
  margin-left: 165px;
  margin-right: 165px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

h1 {
  font-size: 3.2rem;
  text-align: left;
}

h2 {
  font-size: 1.8rem;
  font-weight: bolder;
  text-align: left;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1rem;
}

.logo {
  height: 75px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.navigation {
  float: right;
  height: 20px;
  list-style-type: none;
  padding-top: 55px;
  width: 300px;
}

.navigation li {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
}

.hello {
  padding-bottom: 50px;
}

.projects {
  margin-bottom: 50px;
  text-align: center;
}

.project_logos {
  list-style-type: none;
}

.project_logos img {
  height: 250px;
  padding: 15px;
}

.project_logos li {
  display: inline-block;
}

footer {
  background-color: #545454;
  bottom: 0;
  color: #FFFFFF;
  height: 75px;
  padding-top: 0.5rem;
  text-align: center;
  width: 100%;
}

.thanks {
  padding-top: 20px;
}

.social_media {
  color: #FFFFFF;
  list-style-type: none;
  margin: 10px;
  font-size: 1.25rem;
}

.social_media i {
  color: #FFFFFF;
}

.social_media li{
  display: inline-block;
  padding: 2px;
}

@media screen and (min-width: 768px) {
  .container {
    background-color: #FFFFFF;
    margin: 0 auto;
    overflow: hidden;
  }
}

@media screen and (min-width: 1025px){
  .container {
    background-color: #FFFFFF;
    margin: 0 auto;
    overflow: hidden;
  }
}
