html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
}

main {
  justify-content: center;
  line-height: normal;
  margin: 0 auto;
  max-width: 1020px;
}

h1 {
  color: #2B2B2B;
  font-size: 2.4rem;
  text-transform: uppercase;
}

h2 {
  color: #2B2B2B;
  font-size: 1.8rem;
  font-weight: bolder;
  padding-bottom: 3px;
  text-align: left;
}

h3 {
  color: #2B2B2B;
  font-size: 1.55rem;
  padding-bottom: 3px;
}

p {
  color: #707070;
  font-size: 1.4rem;
  line-height: 1.6em;
  padding-bottom: 5px;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  color: #707070;
  font-size: 1.4rem;
}

.navigation {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}
.logo {
  float: left;
  height: 75px;
}
.navigation_list {
  float: right;
  height: 20px;
  list-style-type: none;
  margin-top: 30px;
  width: 400px;
}

.navigation_list a:hover {
  text-decoration: overline;
}

.navigation li {
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 25px;
  text-transform: uppercase;
}

a.current:link {
  color: #2B2B2B;
}

.projects {
  justify-content: center;
  margin: 0 auto;
  margin: 100px 0px;
  text-align: center;
  width: 100%;
}

.projects_title {
  padding-bottom: 50px;
}

.project_list p, .project_list_featured p, .pproject_list p {
  font-size: 1.4rem;
  margin: 0 auto;
  width: 240px;
}
.project_list h1, .project_list_featured h1, .pproject_list h1 {
  color: #545454;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  text-align: center;
  text-transform: none;
}

.project_list h2, .project_list_featured h2, .pproject_list h2 {
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.project_list:hover h2{
  text-decoration: none;
}

.project_list li {
  display: inline-grid;
  list-style: none;
  margin: 0 auto;
}

.polaroid {
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.polaroid_pic {
  max-width: 240px;
  margin: 15px;
}

.p_feat_pic {
  margin: 15px;
}

.p_caption {
  padding-bottom: 15px;
}

.p_whitebkgd {
  border: 1px solid #E0E0E0;
}

.p_featured {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  justify-content: center;
  text-align: left;
  max-width: 490px;
}

.p_feat_text {
  padding-top: 20px;
}

.p_feat_text h1, .p_feat_text h2 {
  text-align: left;
}

.p_feat_text h3, .p_caption h3 {
  color: #808080;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  line-height: normal;
  padding-bottom: 15px;
}

.p_feat_text p {
  width: auto;
  padding-right: 15px;
}

#content-desktop {display: block;}
#content-mobile {display: none;}

.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item {
  transform: scale(0.88, 0.88);
  transition: all 0.35s;
}
.item .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 10px;
  right: 12px;
}
.item_odd {
  transform: scale(0.88, 0.88) ;
  transition: all 0.35s;
}
.item_odd .polaroid:before {
  height: 20%;
  width: 47%;
  bottom: 10px;
  left: 12px;
}

.item:hover, .item_odd:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before, .item_odd:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  transition: all 0.35s;
}

.vbutton {
  background-color: #FFFFFF;
  border: .1px solid #808080;
  border-radius: 20px;
  font-size: 14px;
  padding: 6px 20px;
}

.vbutton:hover {
  background-color: #2B2B2B;
  border: .1px solid #2B2B2B;
  color: #FFFFFF;
}

.viewprojects {
  margin: 30px 0px;
}

a:hover h5 {
  color: #2B2B2B;
}

a:hover h2, a:hover h1 {
  text-decoration: underline;
}


footer {
  background-color: #545454;
  bottom: 0;
  color: #FFFFFF;
  height: 180px;
  padding-top: 0.6rem;
  text-align: center;
  width: 100%;
}

.thanks {
  padding: 30px 0px 30px;
}

.thanks h4 {
  font-size: 1.4rem;
}

.social_media {
  color: #FFFFFF;
  list-style-type: none;
  padding: 0px 10px;
  font-size: 3.4rem;
}

.social_media i {
  color: #FFFFFF;
}

.social_media li {
  display: inline-block;
  padding: 0px 20px 10px;
}

.copyright {
  padding-top: 20px;
}
.copyright h4 {
  font-size: 1rem;
}

#myBtn {
  background-color: #FFFFFF;
  border: 1px solid #2B2B2B;
  border-radius: 50%;
  bottom: 60px;
  color: #545454;
  float: right;
  font-family: "Verdana";
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  outline: none;
  padding: 10px;
  position: fixed;
  right: 60px;
  width: 40px;
}
#myBtn:hover {
  background-color: #2B2B2B;
  color: #FFFFFF;
}

.rs_intro {
  margin-top: 100px;
}

.rs_title {
  text-align: center;
}

.rs_content {
  display: grid;
  grid-template-columns: 2.5fr 1.1fr;
  grid-gap: 90px;
  justify-content: center;
  margin-bottom: 100px;
  padding-top: 50px;
}

.experience i {
  color: #707070;
  font-size: 1.4rem;
  padding-left: 5px;
}

.skill p {
  line-height: 1.4em;
}

.computer ul, .graphic_design ul, .product_design ul, .uiux_design ul, .languages ul {
  display: inline-block;
  list-style-type: circle;
}

@media screen and (max-width: 767px) {
  .projects {
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    width: 85%;
  }
  .navigation {
    float: none;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 10px;
  }
  .logo {
    float: none;
    padding-bottom: 20px;
  }
  .navigation_list {
    float: none;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 85%;
  }
  .navigation li {
    font-size: 1.2rem;
    padding: 12px;
  }
  .rs_intro {
    margin-top: 30px;
  }
  .rs_content {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 30px;
    width: 85%;
  }

  h1 {
    font-size: 2rem;
  }

  .project_list p, .pproject_list p {
    display: none;
  }
  .project_list h1, .pproject_list h1 {
    text-align: center;
  }
  .project_list, .pproject_list {
    margin-bottom: 50px;
  }

  .polaroid {
    height: auto;
    padding: 5px;
  }

  .project_list li, .pproject_list li {
    display: inline-grid;
    list-style: none;
    margin: 12px 0px;
  }

  .polaroid img {
    width: 85%;
    margin: 15px;
  }

  #myBtn {
    bottom: 40px;
    right: 40px;
  }

  #content-desktop {display: none;}
  #content-mobile {display: block;}
}

footer {
  background-color: #545454;
  bottom: 0;
  color: #FFFFFF;
  height: 180px;
  padding-top: 0.6rem;
  text-align: center;
  width: 100%;
}

.social_media {
  font-size: 3rem;
}

.social_media li {
  padding: 0px 12px 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .rs_intro, .rs_content {
    justify-content: center;
    margin: 0 auto;
    width: 85%;
  }
  .logo {
    float: left;
    margin-left: 50px;
    margin-top: 30px;
  }
  .navigation {
    height: 60px
  }
  .navigation_list {
    float: right;
    margin-right: 30px;
    margin-top: 63px;
  }
  .navigation li {
    padding: 10px;
  }
  .projects {
    padding-bottom: 60px;
  }

  .rs_intro {
    margin-top: 80px;
  }
  .rs_content {
    margin-bottom: 100px;
  }
}
