html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
}

main {
  justify-content: center;
  line-height: normal;
  margin: 0 auto;
  max-width: 1020px;
}

h1 {
  color: #2B2B2B;
  font-size: 2.4rem;
  text-transform: uppercase;
}

h2 {
  color: #2B2B2B;
  font-size: 1.6rem;
  font-weight: bolder;
  padding-bottom: 3px;
  text-align: left;
}

h3 {
  color: #2B2B2B;
  font-size: 1.5rem;
  padding-bottom: 3px;
}

p {
  color: #808080;
  font-size: 1.4rem;
  line-height: 1.6em;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  color: #808080;
  font-size: 1.4rem;
}

.navigation {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}
.logo {
  float: left;
  height: 75px;
}
.navigation_list {
  float: right;
  height: 20px;
  list-style-type: none;
  margin-top: 30px;
  width: 400px;
}

.navigation li {
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 25px;
  text-transform: uppercase;
}

a.current:link {
  color: #2B2B2B;
}

.projects {
  margin-bottom: 40px;
  text-align: center;
}

.projects_title {
  padding: 40px;
}

.project_logos {
  padding: 0px;
  justify-content: center;
  list-style-type: none;
}

.project_logos img {
  margin: 15px;
  max-height: 230px;
}

.project_logos li {
  display: inline-block;
  margin-bottom: 20px;
}

.white_bkgrd {
  border: 1px solid #545454;
}

a:hover h5 {
  color: #2B2B2B;
}

a:hover h2 {
  text-decoration: underline;
}


footer {
  background-color: #545454;
  bottom: 0;
  color: #FFFFFF;
  height: 120px;
  padding-top: 0.6rem;
  text-align: center;
  width: 100%;
}

.thanks {
  padding-top: 30px;
}

.social_media {
  color: #FFFFFF;
  list-style-type: none;
  padding: 5px;
  font-size: 1.8rem;
}

.social_media i {
  color: #FFFFFF;
}

.social_media li {
  display: inline-block;
  padding: 6px;
}

.copyright {
  padding-top: 20px;
}
.copyright h4 {
  font-size: 1rem;
}

#myBtn {
  background-color: #FFFFFF;
  border: 1px solid #2B2B2B;
  border-radius: 50%;
  bottom: 60px;
  float: right;
  font-family: "Verdana";
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  padding: 10px;
  position: fixed;
  right: 60px;
  width: 40px;
}
#myBtn:hover {
  background-color: #2B2B2B;
}

.rs_intro {
  margin-top: 100px;
}

.rs_title {
  text-align: center;
}

.rs_content {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 90px;
  justify-content: center;
  margin-bottom: 100px;
  padding-top: 50px;
}

.computer ul, .graphic_design ul, .product_design ul, .uiux_design ul, .languages ul {
  display: inline-block;
  list-style-type: circle;
}

@media screen and (max-width: 767px) {
  .navigation {
    float: none;
    justify-content: center;
    margin-top: 40px;
  }
  .logo {
    float: none;
    padding-bottom: 20px;
  }
  .navigation_list {
    float: none;
    justify-content: center;
    width: 85%;
  }
  .navigation li {
    font-size: 1.2rem;
    padding: 10px;
    padding-left: 0px;
  }
  .projects {
    padding-bottom: 20px;
  }
  .project_logos img {
    height: 100px;
  }
  .rs_intro {
    margin-top: 50px;
  }
  .rs_content {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 85%;
  }
  h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .rs_intro, .rs_content {
    justify-content: center;
    margin: 0 auto;
    width: 85%;
  }
  .logo {
    float: left;
    margin-left: 50px;
    margin-top: 30px;
  }
  .navigation {
    height: 60px
  }
  .navigation_list {
    float: right;
    margin-right: 30px;
    margin-top: 63px;
  }
  .navigation li {
    padding: 10px;
  }
  .projects {
    justify-content: center;
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 60px;
  }
  .project_logos img {
    height: 125px;
  }

  .rs_intro {
    margin-top: 80px;
  }
  .rs_content {
    margin-bottom: 100px;
  }
}
