body {
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
}

main {
  justify-content: center;
  line-height: normal;
  margin: 0 auto;
  max-width: 1020px;
}

.twp_hero {
  margin: 0 auto;
  max-width: 1020px;
  padding-bottom: 50px;
  margin-top: 100px;
}
.hero_text {
  margin-bottom: 20px;
  width: 100%;
}
.hero_image img {
  margin-bottom: 20px;
  max-width: 1020px;
}

.twp_intro {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.intro_images {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.intro_text {
  padding-bottom: 20px;
  width: 100%;
}

.twp_research_a {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.research_a_images {
  margin-left: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}
.research_a_text {
  padding-bottom: 10px;
  width: 100%;
}

.twp_research_b {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.research_b_images {
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100%;
}
.research_b_text {
  padding-bottom: 20px;
  width: 100%;
}

.twp_userflows_a {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}
.userflows_a_text {
  width: 100%;
}
.userflows_a_images {
  margin-left: 50px;
  margin-bottom: 20px;
  width: 100%;
}

.twp_userflows_b {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.userflows_b_images img{
  margin: 0 10px;
  margin-bottom: 20px;
  padding: 10px;
  vertical-align: top;
  width: 290px;
}

.twp_wireframing {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}
.wireframing_images {
  width: 100%;
}
.wireframing_text {
  width: 100%;
}
.wireframing_images_b img {
  border: 1px solid #545454;
  margin-bottom: 20px;
  width: 285px;
}

.twp_branding_a {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.branding_a_text {
  width: 100%;
}
.branding_a_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grip-gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.branding_a_images img{
  border: 1px solid #545454;
  width: 180px;
}

.twp_branding_b {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.branding_b_images img {
  border: 1px solid #545454;
  margin: 5px;
  width: 495px;
}

.twp_pptut_a {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}
.pptut_a_images img {
  border: 1px solid #545454;
  width: 95%;
}

.twp_pptut_b, .twp_pptut_c {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.pptut_b_images img {
  border: 1px solid #545454;
  margin: 5px;
  margin-bottom: 20px;
  width: 495px;
  vertical-align: top;
}

.pptut_images_c img {
  border: 1px solid #545454;
  margin: 5px;
  margin-bottom: 20px;
  width: 324px;
}

.twp_conclusion {
  display: grid;
  grid-template-columns: 1020px;
  justify-content: center;
  margin-bottom: 20px;
}
.conclusion_text {
  padding-bottom: 50px;
  width: 100%;
}
.conclusion_images {
  padding-bottom: 50px;
}
.conclusion_images img {
  border: 1px solid #545454;
  margin-bottom: 20px;
  width: 1020px;
}

@media screen and (max-width: 767px) {
  .twp_hero, .twp_intro, .twp_research_a, .twp_research_b, .twp_userflows_a, .twp_wireframing, .twp_branding_a, .twp_branding_b, .twp_pptut_a, .twp_pptut_b, .twp_pptut_c, .twp_conclusion {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0 auto;
    width: 85%;
  }
  .hero_text, .intro_text, .research_a_text, .research_b_text, .userflows_a_text, .wireframing_text, .branding_a_text, .pptut_a_text, .conclusion_text {
    margin: 0 auto;
    width: 100%;
  }
  .research_a_images, .research_b_images, .userflows_a_images, .twp_userflows_b, .wireframing_images, .branding_a_images, .branding_b_images, .conclusion_images img {
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .twp_hero {
    padding-top: 30px;
  }
  .intro_images img {
    margin: 0 auto;
    width: 70%;
  }
  .wireframing_images_b img {
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .branding_images {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  .branding_a_images img {
    width: 100%;
  }
  .hero_image img {
    width: 100%;
  }
  .userflow_a_images img {
    width: 100%;
  }
  .userflow_b_images img {
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .branding_a_images img {
    width: 100%;
  }
  .pptut_a_images, .pptut_images_c img {
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .pptut_b_images img{
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .branding_b_images img {
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 764px) and (max-width: 1024px) {
  .container {
    background-color: #FFFFFF;
    margin: 0 auto;
  }
}
